<mat-toolbar class="header content-display" color="primary">
  <div class="header-title-menu-display">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a style="text-decoration: none; color: white;" href="products">
      AV Food corner
    </a>
  </div>
  <span class="example-spacer"></span>
  <div>
    <button (click)="navigateToHome()" style="background-color: transparent; border: none; color: white;" class="example-icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>